
<div class="jumbotron text-center">
    <h1>SoundFit</h1>
    <p class="lead">Welcome to the app that will suggest the music for you</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h3>Spotify</h3>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="col-md-4">
      <h3>Fitbit</h3>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="col-md-4">
      <h3>Fitting sound to you</h3>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
  </div>
