.navbar-brand{
    font-size: 3.5em;
    padding-left: 2%;
}
.navbar-header{
    margin-left: 1%;
}
 .nav-link{
    font-size: 1.5em;
    margin-right: 5%;
    margin-left: 3%;
    padding-right: 5%;
} 